/*
 * Copyright (c) 2024 Your Name
 * SPDX-License-Identifier: MIT
 * 
 * tomkeyLk Mac最適化版キーマップ
 * Layer 0: ベースレイヤー（アルファベット）
 * Layer 1: 数字・記号レイヤー
 * Layer 2: ナビゲーション・機能キー
 * Layer 3: システム・Bluetooth設定
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

// レイヤー定義
#define BASE 0
#define NUM  1
#define NAV  2
#define SYS  3

// Hold-Tap設定
&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        // Space/Layer1のカスタムHold-Tap
        spc_layer: space_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: ベースレイヤー
        base_layer {
            label = "BASE";
            bindings = <
// ┌─────┬─────┬─────┬─────┬─────┐                    ┌─────┬─────┬─────┬─────┬─────┐
     &kp Q  &kp W  &kp E  &kp R  &kp T                      &kp Y  &kp U  &kp I  &kp O  &kp P
// ├─────┼─────┼─────┼─────┼─────┼─────┐            ┌─────┼─────┼─────┼─────┼─────┼─────┤
   &kp TAB  &kp A  &kp S  &kp D  &kp F  &kp G              &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp MINUS
// ├─────┼─────┼─────┼─────┼─────┼─────┤            ├─────┼─────┼─────┼─────┼─────┼─────┤
  &kp LSHFT &kp Z  &kp X  &kp C  &kp V  &kp B              &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
// └─────┴─────┴─────┴─────┼─────┼─────┼─────┐      ┌─────┼─────┼─────┴─────┴─────┴─────┘
            &kp LCTRL &kp LALT &kp LGUI &spc_layer NUM SPACE    &kp RET &kp BSPC
//                   └─────┴─────┴─────┴─────┘      └─────┴─────┴─────┘
                              &kp ESC  &mo NAV           &mkp LCLK
//                            └─────┴─────┘            └─────┘
            >;
            
            trackball-bindings = <&tmv>;
        };

        // Layer 1: 数字・記号レイヤー
        number_layer {
            label = "NUM";
            bindings = <
// ┌─────┬─────┬─────┬─────┬─────┐                    ┌─────┬─────┬─────┬─────┬─────┐
     &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                   &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
// ├─────┼─────┼─────┼─────┼─────┼─────┐            ┌─────┼─────┼─────┼─────┼─────┼─────┤
   &kp TAB &kp GRAVE &kp LBKT &kp RBKT &kp BSLH &kp EQUAL  &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &kp DEL
// ├─────┼─────┼─────┼─────┼─────┼─────┤            ├─────┼─────┼─────┼─────┼─────┼─────┤
  &kp LSHFT &none &none &none &kp APOS &none              &kp HOME &kp END &kp PG_UP &kp PG_DN &none &kp RSHFT
// └─────┴─────┴─────┴─────┼─────┼─────┼─────┐      ┌─────┼─────┼─────┴─────┴─────┴─────┘
                    &trans &trans &trans &trans           &trans &trans
//                   └─────┴─────┴─────┴─────┘      └─────┴─────┴─────┘
                              &trans &mo SYS             &mkp RCLK
//                            └─────┴─────┘            └─────┘
            >;
            
            trackball-bindings = <&tmv>;
        };

        // Layer 2: ナビゲーション・機能キー
        navigation_layer {
            label = "NAV";
            bindings = <
// ┌─────┬─────┬─────┬─────┬─────┐                    ┌─────┬─────┬─────┬─────┬─────┐
     &kp F1 &kp F2 &kp F3 &kp F4 &kp F5                   &kp HOME &kp PG_UP &kp UP &kp PG_DN &kp END
// ├─────┼─────┼─────┼─────┼─────┼─────┐            ┌─────┼─────┼─────┼─────┼─────┼─────┤
   &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11      &kp LG(LEFT) &kp LEFT &kp DOWN &kp RIGHT &kp LG(RIGHT) &kp CAPS
// ├─────┼─────┼─────┼─────┼─────┼─────┤            ├─────┼─────┼─────┼─────┼─────┼─────┤
  &kp F12 &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &kp C_BRI_DN &kp C_BRI_UP    &kp C_PP &kp C_PREV &kp C_NEXT &kp LG(LS(N4)) &kp LC(UP) &trans
// └─────┴─────┴─────┴─────┼─────┼─────┼─────┐      ┌─────┼─────┼─────┴─────┴─────┴─────┘
                    &trans &trans &trans &mo SYS          &trans &trans
//                   └─────┴─────┴─────┴─────┘      └─────┴─────┴─────┘
                              &trans &trans              &mkp MCLK
//                            └─────┴─────┘            └─────┘
            >;
            
            trackball-bindings = <&tsl>;
        };

        // Layer 3: システム・Bluetooth設定
        system_layer {
            label = "SYS";
            bindings = <
// ┌─────┬─────┬─────┬─────┬─────┐                    ┌─────┬─────┬─────┬─────┬─────┐
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none &none &none &none &none
// ├─────┼─────┼─────┼─────┼─────┼─────┐            ┌─────┼─────┼─────┼─────┼─────┼─────┤
   &none &bt BT_CLR &out OUT_USB &out OUT_BLE &none &none    &none &none &none &none &none &none
// ├─────┼─────┼─────┼─────┼─────┼─────┤            ├─────┼─────┼─────┼─────┼─────┼─────┤
   &none &sys_reset &bootloader &none &none &none           &none &none &none &none &none &none
// └─────┴─────┴─────┴─────┼─────┼─────┼─────┐      ┌─────┼─────┼─────┴─────┴─────┴─────┘
                    &trans &trans &trans &trans           &trans &trans
//                   └─────┴─────┴─────┴─────┘      └─────┴─────┴─────┘
                              &trans &trans              &trans
//                            └─────┴─────┘            └─────┘
            >;
            
            trackball-bindings = <&tmv>;
        };
    };
};
